.blog {
  width: 45%;
  margin: 50px auto;
  font-size: 16px;

  .intro {
    font-size: 18px;

    h1 {
      margin: 5px 0;
    }

    span {
      font-size: 14px;
      color: var(--text-300);
    }
  }

  .content-container {
    line-height: 25px;
    padding-bottom: 50px;
  }
}

.blog {
  h2,
  h3 {
    margin: 1.75em 0 0.6em;
  }

  h2 {
    margin: 40px 0 16px;
    letter-spacing: -0.02em;
    padding-top: 24px;
    border-top: 1px solid var(--bg-400);
  }
}
