@import './post.scss';

@media only screen and (max-width: 1100px) {
  nav {
    display: none;
  }

  .prenext {
    display: block;
  }

  .documentation {
    display: inline;
  }
}

.documentation {
  height: calc(100% - 92px);
  display: flex;

  .menu {
    width: 240px;
    border-right: 1px solid var(--bg-300);

    .menu-layout {
      margin: 15px;
      padding-bottom: 60px;
    }

    .category {
      margin-bottom: 10px;

      button.no-btn:first-child {
        width: 100%;
        text-align: left;
      }

      h4 {
        margin-top: 8px;
        margin-bottom: 4px;
        font-size: 13px;
        width: 100%;
        color: var(--text-200);
        display: flex;

        button {
          transition: all 0.3s ease 0s;
          font-weight: 600;
        }

        button.active {
          color: var(--primary-100);
        }

        i {
          color: inherit;
          transition: all 0.1s ease 0s;
          float: right;
        }
      }

      .posts {
        padding-left: 8px;

        div {
          width: 100%;
          border-left: 1px solid var(--bg-300);
          transition: all 0.3s ease 0s;
          padding: 2px 5px;
        }

        a {
          display: block;
          font-size: 13px;
          border-radius: 3px;
          font-weight: 500;
          color: var(--text-300);
        }

        a:hover {
          color: var(--primary-100);
          background-color: var(--primary-100-50) !important;
        }

        a.active {
          color: var(--primary-100);
        }
        div:has(.active) {
          border-left: 1px solid var(--primary-100);
        }
      }
    }

    .category.hide {
      .posts {
        display: none;
      }
      h4 i {
        display: inline-block;
        transform: rotate(180deg);
      }
    }
  }
}

.content-flex {
  width: 100%;
}

.post {
  width: 620px;
  max-width: 620px;

  .intro {
    h1 {
      font-size: 35px;
    }
  }
}

.prenext {
  margin-top: 55px;
  width: 100%;

  display: flex;

  a {
    width: calc(50% - 10px);

    font-size: 14px;

    margin: 10px;
    padding: 10px 15px;

    h4 {
      font-weight: 400;
      font-size: 12px;
      color: var(--text-200);
      margin: 0;
      padding-top: 2px;
    }

    p {
      margin: 0;
    }
  }

  a:nth-child(even) {
    text-align: right;
    margin-left: auto;
  }
}
